<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Editar Registro #<span th:text="${users.id}"></span></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2" th:include="menu :: menu"></div>
				<div class="col-md-10">
					<form action="/saveedit" method="post">
						<div class="form-group">
							<label for="nome">Nome</label> 
							<input type="text" class="form-control" id="name" name="name" th:value="${users.name}" placeholder="Nome do Usuario" />
						</div>
						<div class="form-group">
							<label for="senha">Senha</label> 
							<input type="password" class="form-control" id="password" th:value="${users.password}" name="password" placeholder="Password" />
						</div>
						
						<div class="form-group">
							<label for="projects">Projetos</label> 
							<select class="form-control" id="project" name="project" >
								<option th:selected="${projects.id == users.project.id}" th:each="projects : ${projects}" th:value="${projects.id}"><span th:text="${projects.description}"></span></option>
							</select>
						</div>
						
						<input type="hidden" th:value="${users.id}" name="id" />
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

		</div>

	</section>
</body>

</html>